// bases
$base-font-size: 16px;
$base-margin: 1rem;
$base-padding: 1rem;
$base-border-width: 1px;
$base-border-radius: 4px;
$base-box-shadow: 2px 3px 10px hsla(0, 0%, 0%, 0.5);
$base-outline: $base-border-width solid hsla(0, 0%, 0%, 0.5);
$base-border: $base-border-width solid hsla(0, 0%, 0%, 0.5);

// font size
$fs-xs: $base-font-size * 0.75;
$fs-sm: $base-font-size * 0.875;
$fs-md: $base-font-size;
$fs-lg: $base-font-size * 1.125;
$fs-xl: $base-font-size * 1.25;
$fs-2xl: $base-font-size * 1.5;
$fs-3xl: $base-font-size * 1.875;
$fs-4xl: $base-font-size * 2.25;
$fs-5xl: $base-font-size * 3;
$fs-6xl: $base-font-size * 3.75;
$fs-7xl: $base-font-size * 4.5;
$fs-8xl: $base-font-size * 6;
$fs-9xl: $base-font-size * 8;

// margin
$m1: $base-margin;
$m2: $base-margin * 2;
$m3: $base-margin * 3;
$m4: $base-margin * 4;
$m5: $base-margin * 5;
$m6: $base-margin * 6;

// padding
$p2: $base-margin * 2;
$p3: $base-margin * 3;
$p4: $base-margin * 4;
$p5: $base-margin * 5;
$p6: $base-margin * 6;

// border
$bw1: $base-border-width;
$bw2: $base-border-width * 2;
$bw3: $base-border-width * 3;
$bw4: $base-border-width * 4;
$bw5: $base-border-width * 5;
$bw6: $base-border-width * 6;

// radius
$br-xs: $base-border-radius;
$br-sm: $base-border-radius * 2;
$br-md: $base-border-radius * 3;
$br-lg: $base-border-radius * 4;
$br-xl: $base-border-radius * 5;
$br-xxl: $base-border-radius * 6;

// box-shadow
