@use "../1-abstracts/variables" as *;
@use "../1-abstracts/placeholders" as *;
@use "../1-abstracts/breakpoints" as *;

.navbar {
    @extend %flex-between;
    padding-block: $base-padding;
    box-shadow: $base-box-shadow;
    position: relative;
    z-index: 9;

    .container {
        @extend %flex-between;
    }

    .nav-logo {
        font-size: $fs-xl;
    }
}

@include xs {
    #navMenu {
        display: none;
    }
}
@include md {
    #navToggle {
        display: none;
    }
    #navMenu {
        display: flex;
        gap: 1.5rem;
    }
}
