@use "../1-abstracts/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.default-font {
    font-family: Poppins;
}

.fs-xs {
    font-size: $fs-xs;
    line-height: 1rem;
}
.fs-sm {
    font-size: $fs-sm;
    line-height: 1.25rem;
}
.fs-md {
    font-size: $fs-md;
    line-height: 1.5rem;
}
.fs-lg {
    font-size: $fs-lg;
    line-height: 1.75rem;
}
.fs-xl {
    font-size: $fs-xl;
    line-height: 1.75rem;
}
.fs-2xl {
    font-size: $fs-2xl;
    line-height: 2rem;
}
.fs-3xl {
    font-size: $fs-3xl;
    line-height: 2.25rem;
}
.fs-4xl {
    font-size: $fs-4xl;
    line-height: 2.5rem;
}
.fs-5xl {
    font-size: $fs-5xl;
    line-height: 1;
}
.fs-6xl {
    font-size: $fs-6xl;
    line-height: 1;
}
.fs-7xl {
    font-size: $fs-7xl;
    line-height: 1;
}
.fs-8xl {
    font-size: $fs-8xl;
    line-height: 1;
}
.fs-9xl {
    font-size: $fs-9xl;
    line-height: 1;
}

.fw-1 {
    font-weight: 100;
}
.fw-2 {
    font-weight: 200;
}
.fw-3 {
    font-weight: 300;
}
.fw-4 {
    font-weight: 400;
}
.fw-5 {
    font-weight: 500;
}
.fw-6 {
    font-weight: 600;
}
.fw-7 {
    font-weight: 700;
}
.fw-8 {
    font-weight: 800;
}
.fw-9 {
    font-weight: 900;
}

.fs-italic {
    font-style: italic;
}
.fs-oblique {
    font-style: oblique;
}
.fs-normal {
    font-style: normal;
}
